.gallery {

  @include clearfix;
  padding-top: 1rem;
  margin-bottom: 2rem;
  /*max-width: 992px;*/
  /*margin: 0 auto;*/


  &__title {
    margin-bottom: 3rem;
    margin-top: .5rem;
    padding-top: 1rem;
    font-weight: 200;
    font-size: 2rem;
    line-height: 1.25;

    border-top: 1px solid #ddd;
  }

  &__sizer,
  &__item {
    // < 33.3333% for seamlessness;
    // see http://metafizzy.co/blog/beyonce-seamless-fluid-image-masonry/

    @media only screen
      and (max-width: 480px) {
      width: 49.9% !important
    }

    @media only screen 
      and (min-width: 481px)
      and (max-width: 570px) {
      width: 33.2% !important;
    }

  }

  &__item {
    float: left;

    & img {
      display: block;

      // > 100% for seamlessness;
      // see http://metafizzy.co/blog/beyonce-seamless-fluid-image-masonry/
      width: 100.5%; 

      filter: brightness(100%);
      transition: all .5s cubic-bezier(.23,1,.32,1);
      will-change: opacity,transform;
      cursor: pointer;

      &:hover {
        filter: brightness(110%);
      }
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    margin: 0 !important;
    float: left;
    opacity: 0;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transition: all .5s cubic-bezier(.23,1,.32,1);
    -webkit-transition: all .5s cubic-bezier(.23,1,.32,1);
    vertical-align: bottom;
    -webkit-tap-highlight-color: transparent;
    will-change: opacity,transform;
    cursor: pointer;

    &:hover {
      filter: brightness(110%);
    }

    &.layout-completed {
      opacity: 1;
    }
  }

  img {
    border: 0;
  }
  
  a {
    outline: none;
  }
  
  figure {
    margin: 0;
    /*display: inline;*/
  }

}

